body{
    font-family: 'Open Sans', sans-serif;
    width: 90%;
    margin: auto;
}
.title{
    color: tomato;
}
.header{
    font-size: 50px;
    font-weight: 700;
    border-left: 5px solid;
    border-image: linear-gradient(gold,orange);
    border-image-slice: 1;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.btn{
    height: 45px;
    width: 150px;
    background-color: rgb(158, 58, 158);
    border: 4px solid gold;
    border-radius: 5px;
}
.btn :hover{
    font-weight: 1000;
}
.half-width{
    width: 50%;
}
section{
    display: flex;
}
.half-width img{
    width: 100%;
    height: 500px;
}
.center{
    text-align: center;
}
.cardsection{
    display: flex;
}


.one img{
    width: 100%;
    height: 250px;
}
.two img{
    width: 100%;
    height: 250px;
}
.three img{
    width: 100%;
    height: 250px;
}
.cardsection div{
    border: 3px solid gold;
    margin: 2px 2px;
    height: 444px;
    border-radius: 10px;
    margin-bottom: 70px;
}
.card{
    text-align: center;
    padding: 5px;
    
}
.one{
    background-color: lightblue;
}
.two{
    background-color: lightpink;
}
.three{
    background-color: lightyellow;
}
.halfwdth{
    width: 50%;
    margin-bottom: 50px;
}
.halfwdth img{
    width: 90%;
    height: 300px;
}
.hotpink{
    color: hotpink;
    font-weight: 1000;
    font-size: 50px;
}
.gold{
    color: red;
    font-size: 60px;
}
